<div id="start-page">
    <div class="box messages">
        <div class="box-header">Messages</div>
        <div class="box-content">
            <div class="message important">Welcome back to NonoJs!</div>
            <div class="message">You are not logged in. Savestates will be stored locally and lost if you clear your browser data.</div>
            <div class="message"><a id="button-login" href="#">Log in now.</a></div>
        </div>
    </div>
    <div id="continue-root">
        <!-- Filled by Javascript -->
    </div>
    <div class="box notd">
        <span class="box-header">Nonograms of the Day</span>
        <div class="box-content">
            <!-- Filled by Javascript -->
        </div>
    </div>
    <div class="box other">
        <span class="box-header">Or...</span>
        <div class="box-content">
            <ul>
                <li><a id="button-random" href="#">...Play a random Nonogram.</a></li>
                <li><a id="button-catalog" href="#">...See full catalog of nonograms.</a></li>
                <li><a id="button-settings" href="#">...Change settings.</a></li>
            </ul>
        </div>
    </div>
</div>