* {
    --bg1: rgb(255, 255, 255);
    --bg2: rgb(247, 247, 247);
    --fg1: rgb(88, 120, 142);
    --fg2: rgb(209, 97, 21);
    --border-color: rgb(162, 162, 162);
    --border-color-dark: #00000080;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;

    background-color: black;
}

#content-root {
    position: fixed;
    inset: 0px;
}

#content-column {
    position: relative;

    display: grid;
    grid-template-rows: auto 1fr;

    max-width: 900px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;
}