* {
    --bg1: rgb(255, 255, 255);
    --bg2: rgb(247, 247, 247);
    --fg1: rgb(88, 120, 142);
    --fg2: rgb(209, 97, 21);
    --border-color: rgb(162, 162, 162);
    --border-color-dark: #00000080;
    --header-gradient-color: color-mix(in srgb, var(--bg1) 90%, black 10%);

    --header-size: 50px;
}

body {
    margin: 0px;
    background-color: black;
}

#content-root {
    position: fixed;
    inset: 0px;
}

#content-column {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;

    max-width: 900px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;
}

#header-div {
    grid-row: 1;
}

#main-div {
    grid-row: 2;
    width: 100%;
    height: 100%;
    overflow: scroll;
}