#catalog {
    color: var(--fg1);
    height: 100%;
    background-color: var(--bg1);
}

#catalog .entries {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
}

.catalog-entry {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto 1fr;
    align-items: end;
    align-content: end;
    justify-content: space-between;
    justify-items: end;
    gap: 5px;
    padding: 10px 10px 2px 10px;
    height: fit-content;

    background-color: var(--bg2);
    border: none;
    border-bottom: 1px solid var(--border-color);

    user-select: none;

    font-family: 'Times New Roman', Times, serif;
}

.catalog-entry:active, .catalog-entry:hover {
    background-color: color-mix(in srgb, var(--bg2) 90%, black 10%);
}

.catalog-entry .name {
    grid-row: 1;
    grid-column: 1;

    justify-self: left;

    font-size: 11pt;
    color: var(--fg1);
}

.catalog-entry .size {
    grid-row: 1;
    grid-column: 2;

    display: inline-block;
    line-height: 1;
    height: fit-content;
    text-align: right;

    font-size: 26pt;
    font-style: italic;
    color: var(--fg1);
}

.catalog-entry .progress {
    grid-row: 1;
    grid-column: 3;

    font-size: 11pt;
    font-style: italic;
    color: var(--fg2);
}