#message-box {
    position: absolute;
    inset: 20px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;

    z-index: 3;
}

.message {
    background-color: var(--bg1);
    /* box-shadow: 0px 0px 10px #00000080; */

    padding: 10px;

    border: 1px solid var(--border-color);
    border-radius: 5px;

    font-family: system-ui;
    font-size: 11pt;
}