#message-box {
    position: absolute;
    inset: 20px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;

    pointer-events: none;

    z-index: 3;
}

.message {
    position: relative;
    background-color: var(--bg1);
    padding: 10px;

    border: 1px solid var(--border-color);
    border-radius: 5px;

    pointer-events: all;

    font-family: system-ui;
    font-size: 11pt;
}