#catalog {
    color: var(--fg1);
    height: 100%;
    background-color: var(--bg1);
}

#catalog .entries {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
}

.catalog-entry {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto auto;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 10px 5px 10px;
    height: fit-content;

    background-color: var(--bg2);
    border: none;
    border-bottom: 1px solid var(--border-color);

    user-select: none;

    font-family: 'Times New Roman', Times, serif;
}

.catalog-entry:active, .catalog-entry:hover {
    background-color: color-mix(in srgb, var(--bg2) 90%, black 10%);
}

.catalog-entry .name {
    grid-row: 1;
    grid-column: 1;

    font-size: 16pt;
    color: var(--fg1);
}

.catalog-entry .size {
    grid-row: 1 / 3;
    grid-column: 3;

    height: fit-content;

    font-size: 20pt;
    font-style: italic;
    color: var(--fg1);
}

.catalog-entry .progress {
    grid-row: 2;
    grid-column: 1;

    font-size: 10pt;
    font-style: italic;
    color: var(--fg2);
}