<div id="start-page">
    <div class="box messages">
        <div class="box-header">Messages</div>
        <div class="box-content">
            <div class="message important">Welcome back to NonoJs!</div>
            <div class="message">You are not logged in. Savestates will be stored locally and lost if you clear your browser data.</div>
            <div class="message"><a id="button-login" href="#">Log in now.</a></div>
        </div>
    </div>
    <div class="box continue">
        <span class="box-header">Continue Playing</span>
        <button id ="button-continue" class="box-content fullsize-button">
            20x20 (90%)
        </button>
    </div>
    <div class="box notd">
        <span class="box-header">Nonogram of the Day</span>
        <div class="box-content">
            <div class="box notd-link">
                <span class="box-header">10x10</span>
                <button class="button-notd fullsize-button box-content"></button>
            </div>
            <div class="box notd-link">
                <span class="box-header">20x20</span>
                <button class="button-notd fullsize-button box-content"></button>
            </div>
            <div class="box notd-link">
                <span class="box-header">40x30</span>
                <button class="button-notd fullsize-button box-content"></button>
            </div>
        </div>
    </div>
    <div class="box other">
        <span class="box-header">Or...</span>
        <div class="box-content">
            <ul>
                <li><a id="button-random" href="#">...Play a random Nonogram.</a></li>
                <li><a id="button-catalog" href="#">...See full catalog of nonograms.</a></li>
                <li><a id="button-settings" href="#">...Change settings.</a></li>
            </ul>
        </div>
    </div>
</div>