#start-page {
    background-color: var(--bg1);
    overflow: hidden scroll;
    box-sizing: border-box;
    height: 100%;

    font-family: sans-serif;
    font-size: 11pt;

    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#start-page ul {
    margin: 0px;
}

#start-page li {
    margin: 2px;
}

#start-page .fullsize-button {
    appearance: none;
    border: none;
    background-color: transparent;

    width: 100%;
    height: 100%;
}

#start-page .fullsize-button:active {
    background-color: #00000020;
}

#start-page .messages>.box-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#start-page .message {
    padding: 5px;

    text-align: center;
    background-color: #ffffff10;
    border-radius: 5px;
}

#start-page .message.important {
    font-weight: bold;
}

#start-page .box {
    display: grid;
    grid-template-rows: auto 1fr;

    box-shadow: 0px 2px 4px #00000040;
}

#start-page .box-header {
    border: 1px solid var(--border-color);
    border-radius: 5px 5px 0px 0px;
    padding: 5px;

    display: flex;
    justify-content: center;

    font-weight: bold;
}

#start-page .box-content {
    border: 1px solid var(--border-color);
    border-top: none;
    background-color: var(--bg2);
    padding: 10px;
    box-sizing: border-box;
}

#start-page .preview-container {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-color);

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 120px;
    height: 120px;
    overflow: hidden;
}

#start-page .messages .box-header {
    background: linear-gradient(#ffffff00 -100%, #0084ff30 100%);
}

#start-page .continue .box-header {
    background: linear-gradient(#ffffff00 -100%, #00ff0030 100%);
}

#start-page .continue .box-content {
    justify-content: center;
    align-items: center;
}

#start-page .preview-root {
    display: flex;
    flex-direction: column;
    gap: 5px;

    justify-content: center;
    align-items: center;
}

#start-page .other .box-header {
    background: linear-gradient(#ffffff00 -100%, #ff000030 100%);
}

#start-page .notd>.box-header {
    background: linear-gradient(#ffffff00 -100%, #fbff0030 100%);
}

#start-page .notd>.box-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#start-page .button-notd {
    height: fit-content;
    width: fit-content;
}