#menu {
    position: absolute;
    inset: 0px;
    top: var(--header-size);
    z-index: 10;    

    background-color: #00000080;
}

#menu .entries {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;

    border: 1px solid var(--border-color);
    background-color: var(--header-gradient-color);
}

#menu .entry {
    appearance: none;
    border: none;
    
    height: 50px;
    width: 100%;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;

    font-family: system-ui;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;

    color: var(--fg1);
    padding: 5px;
}

#menu .entry:active {
    background-color: #00000010;
}

#menu .entry.border-right {
    border-right: 1px solid var(--border-color);
}

#menu .entry.border-top {
    border-top: 1px solid var(--border-color);
}