#start-page {
    background-color: var(--bg1);
    overflow: scroll;
    height: 100%;

    font-family: sans-serif;
    font-size: 11pt;

    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#start-page ul {
    margin: 0px;
}

#start-page li {
    margin: 2px;
}

#start-page .messages>.box-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#start-page .message {
    padding: 5px;

    text-align: center;
    background-color: #ffffff10;
    border-radius: 5px;
}

#start-page .message.important {
    font-weight: bold;
}

#start-page .box {
    display: grid;
    grid-template-rows: auto 1fr;

    box-shadow: 0px 2px 4px #00000040;
}

#start-page .box-header {
    border: 1px solid var(--border-color);
    border-radius: 5px 5px 0px 0px;
    padding: 5px;

    display: flex;
    justify-content: center;

    font-weight: bold;
}

#start-page .box-content {
    border: 1px solid var(--border-color);
    border-top: none;
    background-color: var(--bg2);
    padding: 10px;
}

#start-page .messages .box-header {
    background: linear-gradient(#ffffff00 -100%, #0084ff30 100%);
}

#start-page .continue .box-header {
    background: linear-gradient(#ffffff00 -100%, #00ff0030 100%);
}

#start-page .other .box-header {
    background: linear-gradient(#ffffff00 -100%, #ff000030 100%);
}

#start-page .potd>.box-header {
    background: linear-gradient(#ffffff00 -100%, #fbff0030 100%);
}

#start-page .potd>.box-content {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#start-page .potd>.box-content>.box>.box-header {
    background: linear-gradient(#ffffff00 -100%, #0000ff30 100%);
}

#start-page .potd>.box-content>.box>.box-content {
    aspect-ratio: 1;
}