#playfield {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

#playfield > * {
    min-width: 0;
    min-height: 0;
}

#nonogram-root {
    grid-row: 1;
    width: 100%;
    height: 100%;

    background-color: var(--bg2);
}

#footer {
    grid-row: 2;
    height: 140px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;

    padding-top: 5px;
    box-sizing: border-box;

    background-color: var(--bg1);
    border-top: 1px solid var(--border-color);
    overflow: hidden;
}