#timer {
    position: absolute;
    right: 2px;
    bottom: calc(var(--footer-size) + 2px);

    width: fit-content;
    height: fit-content;

    background-color: var(--bg1);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#timer .icon {
    position: relative;

    width: 20px;
    height: 20px;
}

#timer .icon::before {
    content: "";
    position: absolute;
    inset: 0px;
    z-index: 1;

    background-color: var(--fg1);

    mask-image: url("/images/timer.png");
    mask-size: 20px;
    mask-position: center center;
    mask-repeat: no-repeat;
}

#timer .time {
    color: var(--fg1);

    font-family: sans-serif;
    font-weight: bold;
    font-size: 12pt;

    padding-top: 1px;
}