body.not-found-page {
    background-color: white;
}

#not-found {
    width: 100%;
    padding: 5px;

    font-family: sans-serif;
    font-size: 24pt;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: black;
    
}